body {
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
}

/* .slide-appear {
  opacity: 0;
}

.slide-appear.slide-appear-active {
  opacity: 1;
  transition: opacity 1s linear;
} */

.slide-enter {
  position: absolute;
  transform: translateX(400%);
}

.slide-enter.slide-enter-active {
  transform: translateX(0%);
  transition: transform 0.5s ease-in-out;
}

.slide-exit {
  transform: translateY(0%);
  position: absolute;
}

.slide-exit.slide-exit-active {
  transform: translateY(-500%);
  transition: transform 0.5s ease-in-out;
}

.slide-exit-done {
  transform: translateY(-500%);
}

#content_container {
  position: relative;
  float: left;
  width: 100%;
  height: auto;
  padding: 0;
  margin-bottom: 0px;
}

#about_me_viewer {
  position: relative;
  float: left;
  width: 25vw;
  height: 550px;
  padding: 0;
  margin: 0;
  background-color: white;
}

.heading {
  font-size: 2.5em;
  text-align: center;
  color: rgb(48, 48, 48);
  margin-top: 10%;
}

.sub_heading {
  font-size: 1em;
  text-align: center;
  color: rgb(116, 116, 116);
}

.skills {
  color: rgb(48, 48, 48);
  margin-top: 5%;
  font-size: 1em;
  text-align: center;
  text-shadow: 3px 3px 3px rgb(187, 187, 187);
}

.contact_link {
  width: 100%;
  margin-top: 50px;
  font-size: 1em;
  color: rgb(114, 114, 114);
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 100%;
}

.contact_img img {
  height: 50px;
  width: auto;
}

.contact_img {
  margin-left: auto;
  margin-right: auto;
  transition: all 1s;
}

.contact_img:hover {
  /* background-color: indigo;
  border-radius: 50%; */
  transform: scale(150%);
}

#project_viewer {
  position: relative;
  float: left;
  width: 75vw;
  height: 550px;
  padding: 0;
  margin: 0;
  background-color: black;
  border-radius: 0 0 0 5px;
}

.view_project_wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
}

.project_details {
  position: relative;
  float: left;
  width: 48%;
  height: 100%;
  padding: 0;
  margin: 0;
  color: white;
}

.project_title {
  height: auto;
  width: 95%;
  text-align: center;
  font-size: 1.5em;
  padding-left: 2.5%;
  padding-right: 2.5%;
}

.project_description {
  height: auto;
  width: 90%;
  font-size: 1em;
  padding-left: 5%;
  padding-right: 5%;
}

.languages {
  margin-top: 7%;
  margin-bottom: 7%;
  text-align: center;
}

#bottom {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  width: 100%;
  height: auto;
}

.view_project {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.view_project a {
  padding: 20px;
  background-color: rgb(38, 248, 248);
  text-decoration: none;
  color: black;
  border-radius: 5px;
  font-size: 1.25vw;
  transition: opacity 1s;
}

.view_project a:hover {
  opacity: 0.7;
}

.gitHub_link {
  margin-left: auto;
  margin-right: auto;
  height: 125px;
  width: 100px;
  text-align: center;
}

.gitHub_link img {
  margin-bottom: -10px;
}

.gitHub_link a {
  transition: opacity 0.5s, color 0.5s;
  text-decoration: none;
  color: white;
}
.gitHub_link a:hover {
  opacity: 0.5;
  color: grey;
}

#video_container {
  position: relative;
  float: left;
  width: 48%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.project_video {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  width: 100%;
  min-height: 100%;
  height: 100%;
  object-fit: contain;
  z-index: 1;
}

.projects_container {
  position: relative;
  float: left;
  width: 100%;
  height: auto;
  background-color: white;
}

.project_card {
  position: relative;
  float: left;
  background-color: rgb(255, 255, 255);
  box-shadow: none;
  width: 15%;
  height: 120px;
  border-radius: 2px;
  padding: 0;
  margin-top: 4%;
  margin-left: 8%;
  opacity: 0.7;
  transition: opacity 0.6s, transform 0.6s, box-shadow 0.6s;
  z-index: 6;
}

.project_card:hover {
  cursor: pointer;
  opacity: 0.9;
}

.highlighted {
  transform: scale(1.35);
  opacity: 1;
  box-shadow: 1px 2px 30px 3px rgb(114, 114, 114);
}

.project_image {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  width: 100%;
  min-height: 100%;
  height: 100%;
  object-fit: contain;
}

.project_card_overlay {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  width: 100%;
  min-height: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.75;
  border-radius: 2px;
}

.project_heading {
  text-align: center;
  position: absolute;
  top: 5%;
  color: white;
  font-size: 1.5em;
  z-index: 5;
  width: 100%;
}

.view_projects_link {
  display: none;
}

.hide_projects_link {
  display: none;
}

@media only screen and (max-width: 600px) {
  #about_me_viewer {
    position: fixed;
    width: 100vw;
    height: 100%;
    top: 0;
  }

  .view_projects_link {
    text-align: center;
    display: block;
    font-size: 6vw;
    margin-top: 50%;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    border-radius: 30px;
    padding: 15px;
    width: 45vw;
    height: auto;
    color: rgb(48, 48, 48);
  }

  .view_projects_link:active {
    color: white;
    background-color: rgb(48, 48, 48);
  }

  .hide_projects_link {
    color: white;
    text-align: center;
    display: block;
    font-size: 0.8em;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    border-radius: 30px;
    padding: 8px;
    width: 25vw;
    height: auto;
    color: rgb(48, 48, 48);
    background-color: white;
    z-index: 1;
  }

  .hide_projects_link:active {
    background-color: black;
    color: white;
  }

  #project_viewer {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 71%;
    border-radius: 0;
  }

  #video_container {
    width: 100vw;
    height: 33%;
  }

  .project_title {
    height: auto;
    width: 95%;
    text-align: center;
    font-size: 0.8em;
    padding-left: 2.5%;
    padding-right: 2.5%;
  }

  .project_description {
    height: auto;
    width: 90%;
    font-size: 0.75em;
    padding-left: 5%;
    padding-right: 5%;
  }

  .languages {
    /* margin-top: 30px;
    margin-bottom: 5px; */
    text-align: center;
  }

  .gitHub_link img {
    height: 30px;
    width: 30px;
  }

  .gitHub_link a {
    font-size: 0.6em;
  }

  .gitHub_link {
    height: auto;
  }

  .view_project {
    margin-top: 15px;
  }

  .view_project a {
    padding: 10px;
    border-radius: 5px;
    font-size: 0.6em;
  }

  .project_details {
    width: 100vw;
    height: 50%;
  }

  .projects_container {
    display: none;
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 31%;
    overflow-y: auto;
    z-index: 7;
  }

  .project_card {
    width: 35.5%;
    height: 90px;
    margin-left: 9%;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .project_heading {
    font-size: 1em;
  }

  .hidden {
    display: none;
  }

  .visible {
    display: initial;
  }
}
